* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  header {
    background-color: #FFF8F3;
    padding-top: 50px;
   background: url("../images/developer.png"),url("../images/header_bg.png"), #FFF8F3;
   background-repeat: no-repeat;
   background-position: 23px 38px,bottom right;
  
  }
  .logo{
    font-size: 45px;
    font-weight: 900;
    
  }
  .btn{background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

  }

  nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
  }

  nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
  }
  .orange{
    color: #FD6E0A;
  }
  
  nav{
    width: 66%;
    max-width:1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  #hero{
    
    margin: 47px 38px 0px 230px;
    display: flex;
   justify-content: space-between;
   align-items: center;
  }
  #hero .hero-content{
    max-width: 585px;
  }
  #hero .hero-content h2{
    font-size: 45px;
    font-weight:600 ;
    color: #474747;
    margin-bottom: 5px; 
  }
  #hero .hero-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  #hero .hero-content p,.social p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
  }
  #hero .hero-img img{
    max-width: 584px;
    vertical-align: middle;
  }
  #about{
    padding: 130px;
  }
  #about .about-container{
    width: 66%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
  }
   .section-heading{ 
    max-width: 827px;
    text-align:center;
    margin: 0 auto;

  }
  .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
  }
  .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
  }
  #about .about-container .about-info{
    display: flex;
    justify-content: space-around;
  }
  .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
  }
  .about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
  #skills , #resume{
    padding-top: 130px;
  }
  #skills .skills-container{
    width: 66%;
    max-width: 1140px;
    margin: 0 auto;
  }
   #skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
   }
   .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #757575;
   }
   .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

   }
   .skill-card h3{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
   }
   .skill-card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
  }
  .text{
    text-align: center;
  }
  #resume .resume-container{
    width: 66%;
    max-width: 1140px;
    margin: 113px auto 0;
    display:flex ;
    gap: 20px;
  }
  .resume-container .section-title,{
    font-size: 30px;
    margin-bottom: 30px;
    color: #757575;
  }
  .resume-card{
    max-width: 511px;
    margin-right: 47px;
  }
  .resume-card .card-title , .card-info{
    font-size: 20px;
    margin-bottom: 20px;
    color: #474747;
  }
  .resume-card .card-text{
    font-size: 20px;
    margin-bottom: 20px;
    color: #474747;
    line-height: 28px;
  }
  hr{
    margin: 30px 0;
  }
  footer{
    margin-top: 120px;
    background-color: antiquewhite;
    padding: 130px 0 130px;
  }
  .container{ width: 66%;
    max-width: 1140px;
    margin: 0 auto;
    display:flex ;
    gap: 116px;

  }
  .social{
    max-width:550px ;
  }
  .container h2{
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 22px;
  }
  .icon a{margin-right: 24px  ;}
  .container form input[type="text"],.container form textarea{
    width: 460px;
    padding: 18px 31px;
    margin-bottom: 24px;
    color: #757575;
    border:none;
    border-radius: 6px;
  }