* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
  header {
    background-color: #FFF8F3;
    padding-top: 50px;
  }
  .logo{
    font-size: 45px;
    font-weight: 900;
    
  }
  .btn{background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

  }
  nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
  }
  nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
  }
  .orange{
    color: #FD6E0A;
  }
  
  nav{
    width: 66%;
    max-width:1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }